

// Media query support required?
$media-queries-supported : false;

// Opacity support in IE required via the proprietry ActiveX?
$ie8-opacity-supported 	 : false;

// Import all SASS imports
@import 'imports';

// IE override styles can be defined here (use classes applied to 
// the HTML element as per the conditional comments to surround 
// your selectors and target specific IE versions, such as ".lte-ie8")

.container{
	width: $maxwidth;
}

.lte8 #navigation-toggle{
	max-height: none;
	float: left;
	position: static;
	margin: 1em 0 0 0;
}

header.header{
	float: left;
}



.blog-post, .image-wrap{
	margin-right: 10px;
}

.lte8 .gallery .gallery-item, .gallery-icon{
	@include span(24%);
	margin-right: 10px;
	img{
		width: 100%;
		height: auto;
	}
}