// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

[role="banner"] {
@include clearfix; }

#skip, .screen-reader-text{
	@include visuallyhidden;
}


#submit{
	@extend .btn;
}


input[type="submit"]{
	@extend .btn;
}

.container{
	@include container();
	padding: 0 1em;
	max-width: $maxwidth;
}

header.header{
	padding: 0.5em 0;
	@include clearfix;
	@include mq($bp3){
		padding: 2em 0 0 0;
	}
}

.site-logo{
	float: left;
	height: 50px;
	max-height: 120px;
	max-width: auto;
	margin-right: 2em;
	@include mq($bp3){
		height: auto;
	}
	img{
		width: auto;
		height: 100%;
	}
}

.site-title{
	display: inline-block;
	float: left;
	margin-right: 2em;
	margin-bottom: 0;
	&:hover{
		text-decoration: none;
	}
	h1{
		margin: 0;
	}
}

.site-description, .site-description-logo{
	display: inline-block;
	float: left;
	margin-top: 0.4em;
	margin-bottom: 0;
	margin-right: 50px;
}

.site-description-logo{
	margin-top: 1em;
	@include font-size(14);
	@include mq($bp3){
		margin-top: 2em;
		@include font-size(16);

	}
}

header.header .social-media-icons{
	display: none;
	@include mq($bp4){
		@include span(3 of 12 last);
		display: block;
		@include clearfix;		
	}

}


footer.footer .social-media-icons{
	@include span(6 of 12 last);
		@include clearfix;

	@include mq($bp2){
		@include span(4 of 12 last);
	}	
	@include mq($bp4){
		display: none;
	}

}


.sm-google, .sm-facebook, .sm-twitter{
	width: 30px;
	height: 30px;
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	display: block;

}

.sm-icons{
	transition: fill 0.4s;
}

#navigation-toggle ul.children{
	border-left: none;
}

/*  !Nav Dropdown==============================	 */

#navigation-toggle{
 	clear: both;
 	margin-top: 2em;
 	@include full;
	li ul{
		margin-left: 1em;
	}
 @include mq($bp3){
	overflow: visible;
		li{
			position: relative;

		}
		li ul {
		display: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		z-index: 1001;
	}
	li ul ul {
		top: 0;
		left: 100%;
	}
	ul li:hover > ul {
		border-left: 0;
		display: block;
	}
	li ul li{
		margin: 0;
	}
	li ul li a {
		background: inherit;
		border-bottom: 1px solid $lightestneutralcolor;
		display: block;
		@include font-size(14);
		@include box-shadow();
		line-height: 1.2em;
		padding: 8px 10px;
		width: 200px;
		white-space: normal;
	}
}
}

#content-main{
	@include clearfix;
	clear: both;
	padding: 2em 0;
}

.page-sidebar{
	@include span(full);
	@include clearfix;
	@include mq($bp3){
		@include span(8 of 12);
	}
}

aside.sidebar{
	@include span(full);
	@include clearfix;
	@include mq($bp3){
		@include span(4 of 12 last);
	}	
}

ul.sidebar-widget{
	list-style: none;
}

#content-main table{
	@extend .table;
	@extend .table-bordered;
}

footer.footer{
	border-top: $lightestneutralcolor 1px solid;
	padding: 1em 0;
	margin-top: 1em;
	@include clearfix;
	.footer-name{
		display: block;
		@include span(6 of 12);
		@include font-size(14);
	}
}

 // ! Masonry ====================================

 #home-page-masonry{}

 .masonry-wrapper{
 	@include clearfix;
 	clear: both;
 	ul{
 		@include zero;
 	}
 }

 .bricks{
 	width: 48%;
 	list-style-type: none;
 	float: left;
 	margin:1%;
 	position: relative;
 	@include mq($bp3){
 		width: 31.2%;
 	}
 	@include mq($bp4){
 		width: 23%;
 	}
 }

.gutter-sizer{
	width: 2%;
}

.caption{
 		position: absolute;
 		bottom: 0;
 		left: 0;
 		right: 0;
 		background-color: rgba(0,0,0,0.5);
 		color: white;
 		margin: 0;
 		padding: 0.6em;
 		@include font-size(13);
 	}

// ! Full sized =======================================

#home-page-full-slider{
	background-color: transparent;
	height: 100%;
	.site-logo{
		@include mq($bp3){
			height: 70px;
			img{
				height: 70px;
				width: auto;
			}
		}
	}
	.sm-icon{
		fill: #ccc;
	}
	#navigation-toggle{
		a:hover{
			color: #ccc;
		}
		@include mq($bp3){
				background-color: transparent ;
				text-align: right;
				clear: none;
				margin-top: 0;
				li ul{
					text-align: left;
					a{
						background-color: rgb(0,0,0);
						color: white;
						&:hover{
							color: #ccc;
						}
					}
				}
			}
		@include mq($bp4){
				@include span(8 of 12);
				
		}
	}
	#nav-toggle{
		position: absolute;
		top: 1em;
		right: 1em;
		z-index: 9;
	}		
		header.header{
			background-color: rgba(0,0,0,0.6);
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			padding: 1em 2em;
			@include clearfix;
			.site-description, .site-description-logo{
				display: none;
			}
			.social-media-icons{
				display: none;
			}
		}
		footer.footer {
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 60px;
		  position: absolute;
		  background-color: rgba(0,0,0,0.5);
		  border-top: none;
		  padding: 1em;
		  color: white;
		  .social-media-icons{
		  	display: block;
		  }
		  a, a:hover{
		  	color: white;
		  }
		}
}

#full-slider{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	z-index: -1;
	bottom: 0;
	.flex-control-nav{
		bottom: 70px;
	}
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.full-slider-text{
	position: absolute;
	background-color: rgba(0,0,0,0.6);
	color: white;
	bottom: 25%;
	left: 2em;
	right: 2em;
	padding: 1.4em;
	@include mq($bp3){
		width: 60%;
		left: 0;
	}
}


// ! Slider =====================================================

#home-page-slider{
	.main-text{
		padding: 1em 0;
		clear: both;
		@include clearfix;
	}
}

.slider-description{
	position: absolute;
	background-color: black;
	background-color: rgba(0,0,0,0.5);
	padding: 0.5em;
	width: 100%;
	text-align: center;
	@include mq($bp3){
		top: 70%;
		width: 40%;
		padding-left: 2em;
		text-align: left;
	}
	p{
		color: white;
		@include zero;
		@include font-size(14);
	}
}

h1.welcome-message{
	border-top: 2px solid $lightneutralcolor;
	border-bottom: 2px solid $lightneutralcolor;
	text-align: center;
	padding: 0.2em 0;
	margin-top:1em;
}

.image-row{
	clear: both;
	padding: 1em 0;
	margin-bottom: 1em;
	@include clearfix;
	.image-wrap{
			margin-bottom: 1em;
			position: relative;
			@include mq($bp3){
				@include gallery(4 of 12);
			}
			img{
				width: 100%;
				height: auto;
			}
	}
}

.blog-posts{
	clear: both;
	padding: 1em 0;
	@include clearfix;
	.blog-post{
		margin-bottom: 1em;
		@include mq($bp4){
			@include gallery(4 of 12);
		}
		
	}
}



// Sprites ==================================
.icon-blog-icons-calendar{background-image: url('images/icons.png'); background-image: none, url('images/icons.svg');background-position:0 0;background-repeat:no-repeat; width:15px;height:15px; @include hide-text; display: inline-block; vertical-align: middle;}
.icon-blog-icons-folder{background-image: url('images/icons.png'); background-image: none, url('images/icons.svg');background-position:0 -15px;background-repeat:no-repeat; width:18px;height:15px; @include hide-text; display: inline-block; vertical-align: middle;}
.icon-blog-icons-person{background-image: url('images/icons.png'); background-image: none, url('images/icons.svg');background-position:0 -30px;background-repeat:no-repeat; width:15px;height:15px; @include hide-text; display: inline-block; vertical-align: middle;}
.icon-blog-icons-ribbon{background-image: url('images/icons.png'); background-image: none, url('images/icons.svg');background-position:0 -45px;background-repeat:no-repeat; width:15px;height:15px; @include hide-text; display: inline-block; vertical-align: middle;}
.icon-blog-icons-speech{background-image: url('images/icons.png'); background-image: none, url('images/icons.svg');background-position:0 -60px;background-repeat:no-repeat; width:18px;height:15px; @include hide-text; display: inline-block; vertical-align: middle;}
.icon-blog-icons-tag{background-image: url('images/icons.png'); background-image: none, url('images/icons.svg');background-position:0 -75px;background-repeat:no-repeat; width:18px;height:15px; @include hide-text; display: inline-block; vertical-align: middle;}

// ==========================================

.gallery{
	clear: both;
	@include clearfix;
	@include zero;
}

.gallery-item{
	@include gallery(6 of 12);
	position: relative;
	margin-bottom: 1em;
	list-style-type: none;
	@include mq($bp2){
		@include gallery (4 of 12);
	}
	@include mq($bp4){
		@include gallery (3 of 12);
	}
}



// !Wordpress native galleries ================

.gallery-columns-1 .gallery-item{
	@include gallery(12 of 12);
	position: relative;
	margin-bottom: 1em;
}

.gallery-columns-2 .gallery-item{
	@include gallery(6 of 12);
	position: relative;
	margin-bottom: 1em;
}

.gallery-columns-3 .gallery-item{
	@include gallery(6 of 12);
	position: relative;
	margin-bottom: 1em;
	@include mq($bp2){
		@include gallery (4 of 12);
	}
}



.gallery-columns-4 .gallery-item{
	@include gallery(6 of 12);
	position: relative;
	margin-bottom: 1em;
	@include mq($bp2){
		@include gallery (4 of 12);
	}
	@include mq($bp4){
		@include gallery (3 of 12);
	}
}

.gallery-columns-5 .gallery-item{
	@include gallery(6 of 12);
	position: relative;
	margin-bottom: 1em;
	@include mq($bp2){
		@include gallery (4 of 12);
	}
	@include mq($bp4){
		@include gallery (3 of 12);
	}
}

.gallery-columns-6 .gallery-item{
	@include gallery(6 of 12);
	position: relative;
	margin-bottom: 1em;
	@include mq($bp2){
		@include gallery (4 of 12);
	}
	@include mq($bp4){
		@include gallery (3 of 12);
	}
	@include mq($bp5){
		@include gallery (2 of 12);
	}
}


.gallery-item p{
	@extend .caption;
}



