// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->
// Adapted from: http://codepen.io/bradfrost/pen/sHvaz

.navigation-toggle {
float : right;
display : block;
padding : $baselineheight / 2 $gutterwidth / 2; 

@include mq($bp3) {
display : none; }
}

#nav-toggle {
@include mq($bp3) {
display : none; }
}

nav[role=navigation] {
background-color : $navigationbackgroundcolor;
// @include navigationgrad;
@include transition (all $transitionduration ease); }

.js nav[role=navigation] {
overflow : hidden;
max-height : 0; 

@include mq($bp3) {
max-height : none; }
}

nav[role=navigation].active {
max-height : 25em; }

#navigation-toggle {
list-style-type : none;
@include zero;

@include mq($bp3) {
margin : 0 0 0 -0.25em;
border-width : 0; 

li {
display : inline-block;
margin : 0 $gutterwidth / 2 0 0; }
}

ul {
list-style-type : none;
@include zero; 

@include mq($bp3) {
margin : 0 auto; }
}

a {
display : block;
padding : .8em;
border-bottom : $navigationborderwidth $navigationborderstyle $navigationbordercolor;
color : $navigationlinkcolor;
text-transform : uppercase;

@include mq($bp3) {
border-width : 0;
@include font-size(14); 
text-transform : none; }

&:hover {
color : $navigationlinkcolorhover;
text-decoration : none; }
}
}