// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

// This can cause issues with Chrome Dev Tools on both stable and Canary (tested on v29 and v31).
// For more, see https://code.google.com/p/chromium/issues/detail?id=232102
// Therefore, you may wish to comment out this declaration for now.
@viewport { 
width : device-width; }

html {
background : $bodycolor;
font-size : 62.5%;
-webkit-overflow-scrolling : touch;
-webkit-tap-highlight-color : $lightestneutralcolor;
-webkit-text-size-adjust : 100%;
-ms-text-size-adjust : 100%; }

body {
@include zero;
width : 100%;
background-color : transparent;
font-family : $basefontfamily;
@include font-size($basefontsize);
line-height : $baselineheight;
color : $textcolor; }

.no-js-warning, .chromeframe{
	background-color: #df0000;
	padding: 10px;
	color: white;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	a{
		color: yellow;
	}
}

body:after {
content : '320';
display : none; 

@include mq($bp2) {
content : 'bp2'; }

@include mq($bp3) {
content : 'bp3'; }

@include mq($bp4) {
content : 'bp4'; }

@include mq($bp5) {
content : 'bp5'; }

@include mq($bp6) {
content : 'bp6'; }
}

.m-hide {
@include hidden; }

[role="contentinfo"] {
padding : $baselineheight $gutterwidth / 2;
 }