/* ! Blog & Comments =================*/

.entry-meta, .comment-meta{
	font-size: 80%;
	margin-bottom: 1em;
}


.comment-meta{
		margin-top: 0.4em;
	@include mq($bp3){
		width: 60%;
		float: left;
	}
}

.comment-author{
	@include mq($bp3){
		width: 40%;
		float: left;
	}
}

.comment-body{
	clear: both;
	margin-top: 1em;
	float: left;
}

.avatar{
	margin-right: 0.8em;
}

.entry-utility{
	border-top: 1px solid $lighterneutralcolor;
	@extend .entry-meta;
	margin-bottom: 2em;
	margin-top:1em;
	clear: both;
	
}

li.comment{
	list-style: none;
	margin-bottom: 2em;
	clear: both;
	@include clearfix;
}

.reply{
	clear: left;
}

ul.children{
	border-left: 6px solid $lightestneutralcolor;
}

p.form-allowed-tags{
	@include hidden;
}


.comment-respond{
	padding-top: 3em;
}


.comment-form-author, .comment-form-email, .comment-form-url{
	@include mq($bp5){
		@include span(4 of 12);
	}
}

.comment-form-comment{
	@include mq($bp5){
		@include span(8 of 12);
	}
}

.form-submit{
	@include mq($bp5){
		clear: both;
	}
}